<style>
    .footer {
        display: flex;
        height: 65px; /*belkide calismiyor*/



    }

    .contact{
        margin-left: auto;
    }
</style>

<hr>
<div class="footer">
    <span class="contact" style="margin-top:10px ;margin-right: 20px;">

        <style>
            a.nav{
                font-size: 20px;
                color: white;
                text-decoration: none;

            }
        </style>

        <a href="mailto: contact@kapidisi.com" class="nav">iletişim</a>



    </span>
<br>
<br>
</div>