<style>
    .header {
        display: flex;
        height: 65px;



    }

    .navigation {
        margin-left: auto;
    }
</style>

<div class="header">

    <a href="../"> <img style="width: 50px;" src="../images/Logo.png" alt="nopic"></a>

    <span style="font-size:50px;margin-top: 5px;">
        {{site.title}}
    </span>

    <span class="navigation" style="margin-top:30px ;margin-right: 20px;">

        <style>
            a.nav{
                font-size: 20px;
                color: white;
                text-decoration: none;

            }
        </style>

        <a href="/about.html" class="nav">hakkında</a>



    </span>



</div>
<hr>