---
layout: wrapped
---

<style>
    a:link,
    a:visited {

        color: white;
        text-decoration: none;
    }

    .postCont {
        width: 300px;
        
        text-align: center;
    }

    .postLinks {
        font-size: 1.5em;

    }

    .postLinks:hover {
        font-size: 1.8em;

    }

    .gridHome {
        height: 640px;
        margin-left: 50px;
        /*display: grid;   simdilik yorumda kalsin sonra bakariz*/
    }

    .postDesc {
        font-size: 0.8em;
        text-align: left;

    }
</style>

<div class="gridHome">
    {% for post in site.posts %}
    <li class="postCont"><a href="{{ post.url }}" class="postLinks">{{post.title}}</a>
        <hr>
        <div class="postDesc">{{ post.description }}</span>
    </li>
    <br>
    {% endfor %}
</div>