---
layout: wrapped
---

<style>
    a:link,
    a:visited {
        color: white;
        text-decoration: none;
    }

    .postCont {
        width: 320px;
        height: 240px;
        padding: 24px;



    }


    .postLinks:hover {
        color: rgb(200, 0, 0);

    }

    .gridHome {
        display: flex;
        flex-flow: row wrap;
        height: 640px;
        justify-items: flex-end;
    }

    .postDesc {
        font-size: 0.9em;
        text-align: left;

    }
</style>

<div class="gridHome">
    {% for post in site.posts %}
    <li class="postCont">
        <img style="width: 320px;height: 180px;" src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}"
            title="{{ post.title }}">

        <section style="height: 70px; text-align: center">
            <a style="font-size: 1.5em;" href="{{ post.url }}">{{post.title}}</a>
        </section>

        <hr>

        <div class="postDesc">{{ post.description }}</div>
    </li>

    {% endfor %}
</div>