---
layout: wrapped
---

<style>
    a:link,
    a:visited {
        color: white;
        text-decoration: none;
    }

    .postCont {

        width: 288px;
        margin: 16px;
        height: 400px;

    }


    .postLinks:hover {
        color: rgb(200, 0, 0);

    }

    .gridHome {
        display: flex;
        flex-flow: row wrap;
        height: auto;
        max-width: 1280px;
        margin: auto;


    }

    .postDesc {
        font-size: 0.9em;
        
        

    }
</style>

<div class="gridHome">
    {% for post in site.posts %}
    <article class="postCont">
        <img style="width: 288px;height: 162px;" src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}"
            title="{{ post.title }}">

        <section style="height: 60px; text-align: center; margin:10px">
            <a class="postLinks" style="font-size: 1.4em;" href="{{ post.url }}">{{post.title}}</a>
        </section>

        <hr>

        <div class="postDesc">{{ post.description }}</div>
    </article>

    {% endfor %}
</div>