---
---
<title>

    {{site.title}}

</title>
<!--config.yml dosyasindaki title i alir ve sekme uzerine yazar-->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

    body{
        margin: 0px;
        background-color: black;
        color: white;
        font-family: 'Roboto Slab', serif;
        text-align: justify;
        
    }

    

    a,
    p,
    ul li,
    ol li {
        font-size: 1.0rem;
    }

    .container {

max-width: 640px;
margin: auto;
background-color: white;
padding: 20px 40px 20px 40px;
color: black;

}
</style>
<!--Justify ozelligi text`i 2 yana yaslayip bosluklardan ayarlatiyor bu ileride baska seylerde
problem olabilir-->

<body>
    
{% include header.html %}


      {{content}}

      {% include footer.html %}


</body>




